### Covid-19 Advanced Analysis and Predictions using Fb-Prophet

In [4]:
%matplotlib inline
import pandas as pd
import numpy as np
import addfips
af = addfips.AddFIPS()
%store -r df3

In [5]:
df = pd.read_csv('https://raw.githubusercontent.com/nytimes/covid-19-data/master/mask-use/mask-use-by-county.csv')
df.to_csv(r'masks.csv', index = 'False', header=True)

In [6]:
df.head()

   COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0      1001  0.053   0.074      0.134       0.295   0.444
1      1003  0.083   0.059      0.098       0.323   0.436
2      1005  0.067   0.121      0.120       0.201   0.491
3      1007  0.020   0.034      0.096       0.278   0.572
4      1009  0.053   0.114      0.180       0.194   0.459

In [7]:
df3.head()

          county    state  COUNTYFP
1469091  Autauga  Alabama      1001
1469092  Baldwin  Alabama      1003
1469093  Barbour  Alabama      1005
1469094     Bibb  Alabama      1007
1469095   Blount  Alabama      1009

In [8]:
df4 = df3.merge(df,on='COUNTYFP', how="inner")

In [9]:
df4.head()

    county    state  COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
0  Autauga  Alabama      1001  0.053   0.074      0.134       0.295   0.444
1  Baldwin  Alabama      1003  0.083   0.059      0.098       0.323   0.436
2  Barbour  Alabama      1005  0.067   0.121      0.120       0.201   0.491
3     Bibb  Alabama      1007  0.020   0.034      0.096       0.278   0.572
4   Blount  Alabama      1009  0.053   0.114      0.180       0.194   0.459

In [10]:
print(df['COUNTYFP'].min())
print(df['COUNTYFP'].max())

1001
56045

In [11]:
df5 =df4
df5.sort_values('ALWAYS', ascending=False)[:10]
print(df5[['county','NEVER','RARELY','SOMETIMES','FREQUENTLY','ALWAYS']].sort_values('ALWAYS', ascending=False)[:10])

         county  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
195        Inyo  0.033   0.011      0.008       0.058   0.889
1880      Yates  0.000   0.006      0.023       0.087   0.884
2628   Hudspeth  0.013   0.003      0.076       0.029   0.880
207        Mono  0.011   0.026      0.012       0.070   0.880
2583    El Paso  0.007   0.007      0.033       0.075   0.877
1748  Esmeralda  0.086   0.004      0.006       0.032   0.872
193    Humboldt  0.042   0.006      0.018       0.069   0.865
1867     Seneca  0.001   0.012      0.042       0.082   0.864
1879    Wyoming  0.001   0.024      0.008       0.107   0.861
1220  Hampshire  0.011   0.006      0.017       0.109   0.857

In [12]:
df5.sort_values('ALWAYS', ascending=False)[:10]
print(df5[['county', 'ALWAYS']].sort_values('ALWAYS', ascending=False)[:20])

          county  ALWAYS
195         Inyo   0.889
1880       Yates   0.884
2628    Hudspeth   0.880
207         Mono   0.880
2583     El Paso   0.877
1748   Esmeralda   0.872
193     Humboldt   0.865
1867      Seneca   0.864
1879     Wyoming   0.861
1220   Hampshire   0.857
314       Sussex   0.856
2618        Hays   0.855
1836    Dutchess   0.854
1860      Putnam   0.852
544      Kalawao   0.850
1855     Ontario   0.849
198         Lake   0.849
1833    Columbia   0.848
1198  Dorchester   0.844
2269  Lackawanna   0.843

In [13]:
df5.sort_values('FREQUENTLY', ascending=False)[:10]
print(df5[['county', 'FREQUENTLY']].sort_values('FREQUENTLY', ascending=False)[:10])

                        county  FREQUENTLY
554                      Boise       0.549
81            Nome Census Area       0.544
79        Kusilvak Census Area       0.521
991                   Anderson       0.483
83    Northwest Arctic Borough       0.474
2774                  Duchesne       0.469
70          Bethel Census Area       0.450
772                     Tipton       0.444
87        Skagway Municipality       0.435
1734                    Thayer       0.429

In [14]:
df5.sort_values('SOMETIMES', ascending=False)[:10]
print(df5[['county', 'SOMETIMES']].sort_values('SOMETIMES', ascending=False)[:10])

          county  SOMETIMES
1742        York      0.422
2141      Custer      0.413
1560        Pike      0.363
3095     Shawano      0.355
2057     Fayette      0.328
66       Winston      0.328
590   Washington      0.324
2059      Fulton      0.318
1060        Lyon      0.316
2079       Logan      0.314

In [15]:
df5.sort_values('RARELY', ascending=False)[:10]
print(df5[['county', 'RARELY']].sort_values('RARELY', ascending=False)[:10])

           county  RARELY
825       Hancock   0.384
801   Cerro Gordo   0.365
879     Winnebago   0.329
272    Kit Carson   0.323
839       Kossuth   0.318
883        Wright   0.299
2772      Daggett   0.296
3128   Sweetwater   0.295
1496       Carter   0.285
303          Yuma   0.284

In [16]:
df5.sort_values('NEVER', ascending=False)[:10]
print(df5[['county', 'NEVER']].sort_values('NEVER', ascending=False)[:10])

         county  NEVER
2781    Millard  0.432
1593     Wright  0.419
799        Cass  0.341
2779       Juab  0.335
1341    Jackson  0.325
1531    Laclede  0.313
3090   Richland  0.312
1507       Dade  0.312
1586      Texas  0.309
1656  Box Butte  0.303

In [17]:
#df5.to_csv(r'masking.csv', index = False, header=True)

,county,state,COUNTYFP,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS
3133,New York City,New York,36061,0.02,0.016,0.04,0.121,0.803

In [30]:
dfx = {'county': 'New York City', 'state': 'New York', 'COUNTYFP': 36061, 'NEVER':0.02 ,'RARELY':0.016,'SOMETIMES':0.04,'FREQUENTLY':0.121,'ALWAYS':0.803}
df5 = df5.append(dfx, ignore_index = True)

In [32]:
(df5.loc[df5['county'] == 'New York City'])

,county,state,COUNTYFP,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS
3133,New York City,New York,36061,0.02,0.016,0.04,0.121,0.803

In [33]:
(df5.loc[df5['county'] == 'Los Angeles'])

,county,state,COUNTYFP,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS
200,Los Angeles,California,6037,0.021,0.013,0.049,0.131,0.786

In [34]:
(df5.loc[df5['county'] == 'Maricopa'])

      county    state  COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
99  Maricopa  Arizona      4013  0.023   0.025      0.059       0.158   0.734

In [39]:
(df5.loc[df5['county'] == 'Cook'])

     county      state  COUNTYFP  NEVER  RARELY  SOMETIMES  FREQUENTLY  ALWAYS
419    Cook    Georgia     13075  0.098   0.134      0.123       0.203   0.441
606    Cook   Illinois     17031  0.023   0.021      0.072       0.162   0.722
1325   Cook  Minnesota     27031  0.184   0.020      0.038       0.257   0.500

In [40]:
(df5.loc[df5['county'] == 'Miami-Dade'])

,county,state,COUNTYFP,NEVER,RARELY,SOMETIMES,FREQUENTLY,ALWAYS
358,Miami-Dade,Florida,12086,0.032,0.023,0.06,0.128,0.756