In [149]:
%matplotlib inline
import pandas as pd
import numpy as np

df1 = pd.read_csv('countiesX.csv')

df1['fips'] = df1['fips'].astype(np.int64)

In [150]:
df1.drop(df1[df1['fips'] == 0].index, inplace = True) 
df1.head()

         date     county       state   fips  cases  deaths  cured
0  2020-01-21  Snohomish  Washington  53061      1       0      1
1  2020-01-22  Snohomish  Washington  53061      1       0      1
2  2020-01-23  Snohomish  Washington  53061      1       0      1
3  2020-01-24       Cook    Illinois  17031      1       0      1
4  2020-01-24  Snohomish  Washington  53061      1       0      1

In [151]:
df2 = df1.drop(['deaths','cured','cases','date'], axis=1)
df2.head()

      county       state   fips
0  Snohomish  Washington  53061
1  Snohomish  Washington  53061
2  Snohomish  Washington  53061
3       Cook    Illinois  17031
4  Snohomish  Washington  53061

In [152]:
#df2.set_index('fips')

In [153]:
df2.drop_duplicates(keep='last', inplace=True)

In [154]:
df2.head()

          county    state  fips
1469091  Autauga  Alabama  1001
1469092  Baldwin  Alabama  1003
1469093  Barbour  Alabama  1005
1469094     Bibb  Alabama  1007
1469095   Blount  Alabama  1009

In [155]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3218 entries, 1469091 to 1472336
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   county  3218 non-null   object
 1   state   3218 non-null   object
 2   fips    3218 non-null   int64
dtypes: int64(1), object(2)
memory usage: 100.6+ KB

In [156]:
df2.sort_index

<bound method DataFrame.sort_index of              county    state   fips
1469091     Autauga  Alabama   1001
1469092     Baldwin  Alabama   1003
1469093     Barbour  Alabama   1005
1469094        Bibb  Alabama   1007
1469095      Blount  Alabama   1009
...             ...      ...    ...
1472332  Sweetwater  Wyoming  56037
1472333       Teton  Wyoming  56039
1472334       Uinta  Wyoming  56041
1472335    Washakie  Wyoming  56043
1472336      Weston  Wyoming  56045

[3218 rows x 3 columns]>

In [163]:
df2=df2.rename(columns = {'fips':'COUNTYFP'})
df3 = df2
%store df3

Stored 'df3' (DataFrame)

In [ ]:
pd.concat([df2, clickDF], ignore_index=True)